.carrusel-centrado{
    margin-top: 30px;
}

.bordes-card{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.card-config{
    border-radius: 50px;
    border-top: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    border-left: 3px solid rgb(0, 0, 0);
}

.justify-content-center{
    text-align: center;
}

.responsive-image{
    max-width: 100%;
    height: auto;
}

.button-config{
    margin-top: 20px;
}


html{
    scroll-behavior: smooth;
}

footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.container-body h2{
    color: gold;
}


